*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8e3e7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* about section style */
.about{
    padding: 100px 200px;
    transition: 0.3s;
}
.about-image{
    height: 200px;
    width: 100%;
    

}

.about-image img{
    height: 100%;
    width: 100%;
}

.about-me{
    margin-top: 20px;
    line-height: 1.5;
    color: rgb(47, 46, 65);
    font-size: 17px;
}

#surname{
    font-weight: 900;
}

@media(max-width: 980px){
  
    .about{
        padding: 100px 20px;
     }

}

@media (max-width: 900px){

}
/* about section */
 .about{
 padding: 100px 50px;
 
}