*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
    background-color: rgb(47, 46, 65);
    transition: 0.3s ease;
}

/* Hide harmburger by default on big screen */

.hamburger-wrapper{
    display: none;
}

.nav-items .nav-links{
    font-size: 17px;
    padding: 20px;
    text-decoration: none;
    color: white;
}


.nav-items .nav-links:hover{
    background-color: white;
    color: rgb(47, 46, 65);
    border-radius: 2px;
}


.logo-wrapper .logo{
    font-size: 25px;
    color: white;
}


/* media query */
@media(max-width: 980px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }
}


@media (max-width: 900px){

    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
    }
    
    .hamburger-wrapper{
        display: block;
        color: white;
        cursor: pointer;
        font-size: 25px;
    }

    .nav-items{
        display: none;
    }

    .open-nav-items{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }

    .nav-links{
        text-align: right;
    }
}
