*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d8e3e7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* skills */
.skills{
    width: 100%;
    padding: 100px 200px;
    transition: 0.3s ease;
   
}

.html, .css, .javascript{
    display: flex;
}

.skill-icon-container{
    font-size: 50px;
    width: 20%;
    margin-bottom: 20px;
    color: rgb(47, 46, 65);
}

.skills-desciption{
    color: rgb(47, 46, 65);
    font-size: 17px;
    
}

@media(max-width: 980px){
  
       .skills{
           padding: 100px 20px;
        }

}

 @media (max-width: 900px){

 }
 /* skills section */
    .skills{
    padding: 100px 50px;
    
}